body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(219, 226, 226);
}

.app-post-btn{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.app-post-btn:hover{
    background: white;
    border: 1px solid;
    color: black;
}

.logout-nav-button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.logout-nav-button:hover{
    color: black;
    background-color: white;  
}