body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(219, 226, 226);
} 
h2{
    text-align: center;
}
.userpage-btn-class{
    border: none;
    outline: none;
    height: 50px;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.btn-div{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.logout-nav-button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.logout-nav-button:hover{
    color: black;
    background-color: white;  
}